.modal__item {
  padding: 0 0 12px;
  border: 0;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  background-color: transparent;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  font-family: inherit;
}

.modal__item:focus {
  outline: none;
}

.modal__item:nth-child(1) {
  margin-top: 15px;
}